h1{
  text-align: center;
  color: red;
}
body{
  background:
  url(https://images.unsplash.com/photo-1519834785169-98be25ec3f84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-size: cover;
  color: red;
  background-repeat:no-repeat;
}
.container {
  color: blue;
}
